@mixin card-hover {
    transform: scale(1.05);
    z-index: 2;
}

@mixin overlay-gradient {
    background: linear-gradient(
        77deg,
        rgba(0,0,0,.9) 0,
        rgba(0,0,0,.7) 85%
    );
}

@mixin netflix-button {
    background-color: $netflix-red;
    color: $text-light;
    border: none;
    padding: $spacing-lg $spacing-xl;
    cursor: pointer;
    transition: background-color $transition-speed;
    white-space: nowrap;
    
    &:hover {
        background-color: $netflix-red-hover;
    }
} 