// Dimensioni
$card-height: 28.125rem;
$search-width: 18.75rem;

// Spacing
$spacing-xs: 0.125rem;  // 2px
$spacing-sm: 0.5rem;    // 8px
$spacing-md: 1rem;      // 16px
$spacing-lg: 1.25rem;   // 20px
$spacing-xl: 2rem;      // 32px

// Font sizes
$font-xs: 0.9rem;
$font-sm: 1rem;
$font-md: 1.2rem;
$font-lg: 2rem;

// Border radius
$border-radius: 0.25rem;

// Transitions
$transition-speed: 0.3s; 